body	{
	background-image: url(fd.jpg);
	background-image: cover ;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 8;
}

.container {
	width: 970px;
	margin: 10px auto;
}

h1	{
	font-size: 33px;
	color: #88C1CC;
	font-weight: 400;
}

h2	{
	font-size: 25px;
	color: black;
}

iframe { 
	height: auto;
	width: 100%;
	max-width: 300px;
}

a { 
	text-decoration: none;
	color: black;
}

p	{
	font-size: 15px;
}

ul  {
	font-size: 15px
}

video	{
	height: auto;
	width: 100%;
	max-width: 300px;
}

button {
	padding: 15px 25px;
	font-size:15px;
	background-color: #559F77; 
	border: none;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 12px #5BB082;
	outline: none;
	border-radius: 20px;
	height: 50px;
	margin: 0 auto;
}

button:hover {
	box-shadow: 0 5px #5BB082;
	transform: translateY(4px);
}

.work {
	margin: auto;
}

.blanc {
	display: flex; 
}

.banner	{
	text-align: center;
	background-color: white;
	border-radius: 40px;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
}

.card1, .card2, .card3	{
	text-align: left;
	background-color: rgba(255, 255, 255, 0.87);
	border-radius: 40px;
	padding: 25px;
	margin: 25px
}

#profil	{
	border-radius :50%;
	width: 200px;
	height: 180px;
}

#insta	{
	width: 10px;
	height: 10px;
}

@media (max-width: 760px){
	.container {
		width: 100%;
	}
		.banner {
		width: 90%;
	}
}

@media (max-width: 400px){
	.container {
		width: 100%;
	}

}